@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Customers</h2>

<form method="get" action="Customers/New">
    <button type="submit" class="btn btn-primary">Add Customer</button>
</form>
<br />
<table class="table table-bordered table-hover" id="custTbl">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<script type="text/javascript" src="~/Scripts/datatables.min.js"></script>